modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["twilio:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
TWILIO_PHONE_NUMBER = "+447307240645"
TWILIO_ACCOUNT_SID = "AC4eb1346edabd9367addfa0904c91ab72"
TWILIO_API_KEY = "SKfac758c9b1888d2e81be20d4fbfa9b3b"
TWILIO_API_KEY_SECRET = "qkmyi4NCSpFFcCg4lQjHWBN7Zxbjiln3"
